body {
  font-family: "Chivo Mono", monospace;
  background-color: black;
  color: white;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#gameinfo {
  font-size: 20px;
}
.heading {
  text-align: center;
}
.value-tab {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  padding: 20px;
}
.tab {
  margin-top: 20px;
}
table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  /* background-color: red; */
  border-spacing: 0px;
}
td {
  color: white;
  height: 150px;
  width: 150px;
  /* border: 5px solid red; */
  border: 5px solid white;
  /* background-color: blue; */
  text-align: center;
  font-size: 100px;
  cursor: pointer;
  transition: 0.3s;
}
td:hover {
  background-color: #36395a;
}
.left {
  border-left: none;
}
.left-top {
  border-top: none;
}
.left-bottom {
  border-bottom: none;
}

.middle-top {
  border-top: none;
}
.middle-bottom {
  border-bottom: none;
}

.right {
  border-right: none;
}
.right-top {
  border-top: none;
}
.right-bottom {
  border-bottom: none;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

@media (max-width: 790px) {
  .content {
    flex-direction: column;
  }
}
